<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <script th:src="@{/static/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/static/js/login.js}"></script>
</head>
<body>
<h2 id="validation-message" style="color: red"></h2>
<form>
    <label for="username">Username: </label>
    <input type="text" id="username">
    <label for="password">Password: </label>
    <input type="password" id="password">
    <button type="button" onclick="login()">Login</button>
</form>
</body>
</html>