<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
    <!-- Конфигурируем bean Employee и устанавливаем начальное значение поля name -->
    <bean name="employee" class="by.rakovets.course.java.spring.aop.model.Employee">
        <property name="name" value="Нереальное имя"/>
    </bean>
    <!-- Конфигурация bean для сервиса EmployeeService -->
    <bean name="employeeService" class="by.rakovets.course.java.spring.aop.service.EmployeeService">
        <property name="employee" ref="employee"/>
    </bean>
    <!-- Конфигурация Aspect Beans, без этого  Aspects advices не будут выполнятся -->
    <bean name="beforeAspect" class="by.rakovets.course.java.spring.aop.aspect.BeforeAspect"/>
    <bean name="pointcutAspect" class="by.rakovets.course.java.spring.aop.aspect.PointcutAspect"/>
    <bean name="employeeAspectJoinPoint" class="by.rakovets.course.java.spring.aop.aspect.JoinPointAspect"/>
    <bean name="employeeAfterAspect" class="by.rakovets.course.java.spring.aop.aspect.AfterAspect"/>
    <bean name="employeeAroundAspect" class="by.rakovets.course.java.spring.aop.aspect.AroundAspect"/>
    <bean name="employeeAnnotationAspect" class="by.rakovets.course.java.spring.aop.aspect.AnnotationAspect"/>
    <bean name="xmlConfigAspect" class="by.rakovets.course.java.spring.aop.aspect.XmlConfigAspect"/>

    <!-- Enable AspectJ style of Spring AOP -->
    <aop:aspectj-autoproxy/>
    <!-- Spring AOP XML Configuration -->
    <aop:config>
        <aop:aspect ref="xmlConfigAspect" id="employeeXMLConfigAspectID" order="1">
            <aop:pointcut id="getNamePointcut"
                          expression="execution(* by.rakovets.course.java.spring.aop.model.Employee.getName())"/>
            <aop:around method="employeeAroundAdvice" pointcut-ref="getNamePointcut" arg-names="proceedingJoinPoint"/>
        </aop:aspect>
    </aop:config>
</beans>
